.recipe {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

.recipe__details {
  padding: 40px 32px;
}

.recipe__details > *:not(:first-child) {
  margin-top: 32px;
}

/* section */

.recipe__description {
  display: grid;
  gap: 24px;
}

.recipe__preparation {
  padding: 24px;
  background-color: var(--rose-50);
  border-radius: 12px;
  display: grid;
  gap: 16px;
}

.recipe__section {
  display: grid;
  gap: 24px;
}

/* list */

.recipe__list {
  padding-left: 20px;
}

.recipe__list-item {
  padding-left: 20px;
}

.recipe__list-item:not(:first-child) {
  margin-top: 8px;
}

.recipe__list-item::marker {
  font-size: 0.8rem;
  color: var(--brown-800);
}

.recipe__list-item--rose::marker {
  color: var(--rose-800);
}

.recipe__list-item--num::marker {
  font-size: 1em;
  font-weight: 700;
}

/* titles */

.recipe__title {
  color: var(--stone-900);
  font-family: "Young Serif", sans-serif;
  font-size: 2.25rem;
  line-height: 100%;
  font-weight: 400;
}

.recipe__subheading {
  color: var(--brown-800);
  font-family: "Young Serif", sans-serif;
  font-size: 1.75rem;
  line-height: 100%;
  font-weight: 400;
}

.recipe__subheading--preparation {
  color: var(--rose-800);
  font-family: "Outfit", sans-serif;
  font-size: 1.25rem;
  line-height: 100%;
  font-weight: 600;
}

/* Text */

.recipe__text {
  font-size: 1rem;
  line-height: 150%;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: var(--stone-600);
  letter-spacing: 0px;
}

.recipe__text--bold {
  font-weight: 700;
}

/* separator */

.recipe__separator {
  border: 1px solid var(--stone-150);
}

/* table */

.recipe__table {
  width: 100%;
  border-collapse: collapse;
}

.recipe__table-cell {
  font-size: 1rem;
  line-height: 150%;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: var(--stone-600);
  border-bottom: 1px solid var(--stone-150);
  padding: 11.5px 0;
}

.recipe__table-row:first-child .recipe__table-cell {
  padding-top: 0;
}

.recipe__table-row:last-child .recipe__table-cell {
  border-bottom: 0px;
  padding-bottom: 0;
}

.recipe__table-cell--label {
  padding-left: 32px;
  text-align: left;
}

.recipe__table-cell--value {
  color: var(--brown-800);
  font-weight: 700;
  width: 48%;
}
